language: node_js
notifications:
  email: false
node_js:
  - '8'
script:
  - npm run lint
  - npm run test:ci
after_success:
  - npm run coveralls
  - npm run semantic-release
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
before_deploy:
  - npm run docs
deploy:
  provider: pages
  local_dir: docs
  skip_cleanup: true
  github_token: $GH_TOKEN
  on:
    branch: master
